Desafio 8/api.json
[{"id":"5972013c.bf723","type":"function","z":"6579cf65.074ad","name":"Apply NLU","func":"\n\nmsg.nlu_options = \n{\n    \"entity_model\":\"12869061-9932-4305-b8d8-5861dd6cf53a\",\n    \"relations_model\":\"12869061-9932-4305-b8d8-5861dd6cf53a\"    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":700,"wires":[["ac2e9988.069228"]]},{"id":"ac2e9988.069228","type":"natural-language-understanding","z":"6579cf65.074ad","name":"","categories":true,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/a841202c-de15-4ca0-bc14-480006695474","x":680,"y":700,"wires":[["169bc0e.7e09f3f"]]},{"id":"169bc0e.7e09f3f","type":"function","z":"6579cf65.074ad","name":"See if there's a negative sentiment","func":"var negatives = 0;\n\nif (msg.features.entities) {\n    for (var i =0; i<msg.features.entities.length; i++) {\n        negatives += msg.features.entities[i].sentiment.score;\n    }\n    \n    msg.payload = (negatives>=0)? \"END\" : \"CONTINUE\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":700,"wires":[["ffef8c3e.ff5b5"]]},{"id":"e70a55c9.f87478","type":"watson-speech-to-text","z":"6579cf65.074ad","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":true,"password":"","apikey":"mfDyZODToQvJ4c3-eBF9op2anQ5zVe58EtZ74c0ktzS8","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"service-endpoint":"","x":660,"y":600,"wires":[["61f7ffda.c4019"]]},{"id":"96dcfae7.1e3818","type":"http in","z":"6579cf65.074ad","name":"","url":"elmanbbo","method":"post","upload":true,"swaggerDoc":"","x":320,"y":320,"wires":[["8ca27031.5b542"]]},{"id":"ec11453b.a39468","type":"link out","z":"6579cf65.074ad","name":"Convert","links":["5ef15249.1ab03c"],"x":895,"y":420,"wires":[]},{"id":"5ef15249.1ab03c","type":"link in","z":"6579cf65.074ad","name":"Convert-in","links":["ec11453b.a39468"],"x":315,"y":600,"wires":[["52ab487d.3edba8"]]},{"id":"18b5a355.9324dd","type":"switch","z":"6579cf65.074ad","name":"Check for files","property":"req.files","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":420,"wires":[["ec11453b.a39468"],["86538562.c666d8"]]},{"id":"38bce312.59ba1c","type":"change","z":"6579cf65.074ad","name":"Sets the text to the query","rules":[{"t":"set","p":"text","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":520,"wires":[["d35f149f.4a57e8"]]},{"id":"86538562.c666d8","type":"function","z":"6579cf65.074ad","name":"Applying the text to Payloader","func":"msg.payload = `${msg.req.body.text.toString()}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":520,"wires":[["38bce312.59ba1c"]]},{"id":"52ab487d.3edba8","type":"function","z":"6579cf65.074ad","name":"Audio Handler","func":"//msg.payload = `https://${msg.req.files[0].buffer.toString()}`;\nmsg.payload = msg.req.files[0].buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":600,"wires":[["e70a55c9.f87478"]]},{"id":"61f7ffda.c4019","type":"function","z":"6579cf65.074ad","name":"Applying the text to Payloader","func":"msg.payload = `${msg.transcription.toString()}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":600,"wires":[["38bce312.59ba1c"]]},{"id":"c60cee21.2589a","type":"link in","z":"6579cf65.074ad","name":"Convert-in","links":["740683f.3593d7c","dae3764b.288168","8b0acf79.1685e","175149bf.7d8b66","8f708043.7b19d"],"x":315,"y":860,"wires":[["73a519f1.770948"]]},{"id":"73a519f1.770948","type":"function","z":"6579cf65.074ad","name":"Priorities and Entities Refining","func":"// criando lista de prioridades\nvar priority = [\n    \"MODELO\",\n    \"ACESSORIOS\", \n    \"DESIGN\", \n    \"CONFORTO\", \n    \"MANUTENCAO\", \n    \"DESEMPENHO\",\n    \"CONSUMO\",\n    \"SEGURANCA\"\n];\n\n//salvando a entidade em uma variável\nvar entities = msg.features.entities;\n\n//colocando peso\nfor (var j=0; j<priority.length; j++) {\n    for (var k=0; k<entities.length; k++) {\n        if (priority[j]==entities[k].type.toString())\n            {\n                entities[k].weight = j+1;\n                entities[k].entityo = entities[k].type;\n                entities[k].sentimento = entities[k].sentiment.score;\n                entities[k].mentiono = entities[k].text;\n            }\n    }\n}\n\n//comparando a maior com menor\nvar great = entities[0];\n\nif (entities.length>0) {\n    for (var i=1; i<entities.length; i++) {\n            if (great.type.toString()==entities[i].type.toString()) {\n                    great.sentiment.score = (entities[i].sentiment.score + great.sentiment.score)/2;\n                    continue;\n                }\n            if (entities[i].sentiment.score==great.sentiment.score) {\n                if (great.weight < entities[i].weight) {\n                    great = entities[i];\n                }\n                continue;\n            } \n            else if (entities[i].sentiment.score < great.sentiment.score) {\n                great = entities[i];\n                \n                continue;\n            }\n        }\n}\n\nmsg.req.query.recommendation=\"\";\nmsg.req.query.basefeature=great;\nmsg.req.query.entities=msg.features.entities;\n//msg.payload = {\"feature\":`${indexe.type.toString()}`, \"ambiguity\":`${(ambiguity != entities[0])? ambiguity.type.toString() : null}`}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":860,"wires":[["8d4b232a.0c881"]]},{"id":"660cc8cb.78e968","type":"link in","z":"6579cf65.074ad","name":"","links":["d35f149f.4a57e8"],"x":315,"y":700,"wires":[["5972013c.bf723"]]},{"id":"d35f149f.4a57e8","type":"link out","z":"6579cf65.074ad","name":"","links":["660cc8cb.78e968"],"x":1135,"y":640,"wires":[]},{"id":"fda3e094.a8a5b","type":"comment","z":"6579cf65.074ad","name":"Aqui fica a lógica para escolha das recomendações. (clique para ver o template)","info":"{\n  \"recommendation\": \"ARGO\",\n  \"entities\": [\n      {\n          \"entity\": \"ACESSORIOS\",\n          \"sentiment\": -0.890016,\n          \"mention\": \"Ar condicionado\"\n      },\n      {\n          \"entity\": \"CONSUMO\",\n          \"sentiment\": -0.001004,\n          \"mention\": \"8Km/L\"\n      }\n  ]\n}","x":900,"y":760,"wires":[]},{"id":"795210bf.c2a72","type":"comment","z":"6579cf65.074ad","name":"Ele precisa recomendar todas as entidades que o usuário deu como input. (Clique para ver exemplo)","info":"EG: usuário falou do ar condicionado, então ele retorna um com ar-condicionado melhor","x":790,"y":800,"wires":[]},{"id":"8d4b232a.0c881","type":"function","z":"6579cf65.074ad","name":"Inputting _id to payload","func":"msg.payload = \"cd10e5ff469199913bef58122e7d3464\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":860,"wires":[["2419070d.e76638"]]},{"id":"5b865190.152ee","type":"comment","z":"6579cf65.074ad","name":"MUDAR CHAVE DO NLU","info":"","x":470,"y":760,"wires":[]},{"id":"8ca27031.5b542","type":"function","z":"6579cf65.074ad","name":"Transforming and Setting car to another variable","func":"var car = msg.payload.car.charAt(0).toUpperCase() + msg.payload.car.substring(1);\nmsg.req.query.car = `${car.toUpperCase()}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":340,"wires":[["18b5a355.9324dd"]]},{"id":"472b31b3.0967","type":"link out","z":"6579cf65.074ad","name":"","links":["aa3ba027.a665c"],"x":1175,"y":1040,"wires":[]},{"id":"2419070d.e76638","type":"cloudant in","z":"6579cf65.074ad","name":"cd10e5ff469199913bef58122e7d3464","cloudant":"","database":"piton-fca","service":"node-red-tnt-piton-cloudant-1599331537642-13115","search":"_id_","design":"cd10e5ff469199913bef58122e7d3464","index":"cars","x":470,"y":940,"wires":[["2576337c.f45a2c"]]},{"id":"fbbdd1ee.6631a","type":"function","z":"6579cf65.074ad","name":"Making recommendations","func":"msg.req.query.cloudant = msg.cloudant;\nvar cloudant = msg.cloudant;\nvar indexe = (msg.req.query.basefeature.weight-1 >= 0)? msg.req.query.basefeature.weight-1 : 0;\n\nfor (var i=0; i<cloudant.cars.length; i++) {\n    if (cloudant.cars[i].features[indexe] > msg.req.query.greatness.features[indexe] &&\n        cloudant.cars[i].Nam.toString() != msg.req.query.basefeature.mentiono.toString()) {\n            msg.req.query.greatness = cloudant.cars[i];\n    } \n}\n\nmsg.req.query.recommendation = msg.req.query.greatness.Nam.toString();\n\nfor (var j = 0; j<msg.req.query.entities.length; j++) {\n    //colocar aaqui pra transformas os \"entityo e derivados\" nas variaveis necessarias\n    msg.req.query.entities[j].entity = msg.req.query.entities[j].entityo;\n    msg.req.query.entities[j].sentiment = msg.req.query.entities[j].sentimento;\n    msg.req.query.entities[j].mention = msg.req.query.entities[j].mentiono;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1040,"wires":[["95d514a7.ccdd68"]]},{"id":"95d514a7.ccdd68","type":"function","z":"6579cf65.074ad","name":"Final editting - payload and deletion","func":"\nfor (var i =0; i< msg.req.query.entities.length; i++) {\n    delete msg.req.query.entities[i].entityo;\n    delete msg.req.query.entities[i].sentimento;\n    delete msg.req.query.entities[i].mentiono;\n}\n\nfor (var i=0; i<msg.req.query.entities.length; i++) {\n    if (msg.req.query.entities[i] == null) {\n        var indexof = msg.req.query.entities.indexOf(i);\n        msg.req.query.entities.splice(indexof, 1);\n    }\n}\n\nmsg.payload = \n{\n  \"recommendation\": `${msg.req.query.recommendation.toString()}`,\n  \"entities\": msg.req.query.entities\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1040,"wires":[["472b31b3.0967"]]},{"id":"2576337c.f45a2c","type":"function","z":"6579cf65.074ad","name":"","func":"msg.req.query.cloudant = msg.cloudant;\nvar cloudant = msg.cloudant;\nvar indexe = msg.req.query.basefeature.weight-1;\n\nfor (var j=0; j<cloudant.cars.length; j++) {\n    if (cloudant.cars[j].Nam.toString() == msg.req.query.car.toString().toUpperCase()) {\n        cloudant.cars[j].features[0] = 0;\n        cloudant.cars[j].features[1] = 0;\n        cloudant.cars[j].features[2] = 0;\n        cloudant.cars[j].features[3] = 0;\n        cloudant.cars[j].features[4] = 0;\n        cloudant.cars[j].features[5] = 0;\n        cloudant.cars[j].features[6] = 0;\n        msg.req.query.greatness = cloudant.cars[j];\n        continue;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":940,"wires":[["2acc01.5ac1b4"]]},{"id":"2acc01.5ac1b4","type":"function","z":"6579cf65.074ad","name":"","func":"for (var i =0; i< msg.req.query.entities.length; i++) {\n        delete msg.req.query.entities[i].weight;\n        delete msg.req.query.entities[i].type;\n        delete msg.req.query.entities[i].text;\n        delete msg.req.query.entities[i].count;\n        delete msg.req.query.entities[i].disambiguation;\n        delete msg.req.query.entities[i].confidence;\n        delete msg.req.query.entities[i].sentiment;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":980,"wires":[["fbbdd1ee.6631a"]]},{"id":"740683f.3593d7c","type":"link out","z":"6579cf65.074ad","name":"Convert","links":["c60cee21.2589a"],"x":1415,"y":760,"wires":[]},{"id":"efa5d8c0.5fbac8","type":"http response","z":"6579cf65.074ad","name":"","statusCode":"","headers":{},"x":1690,"y":900,"wires":[]},{"id":"eec464e7.08ee48","type":"debug","z":"6579cf65.074ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1870,"y":900,"wires":[]},{"id":"c372a79f.cd2bb8","type":"switch","z":"6579cf65.074ad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"END","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":740,"wires":[["5ea39653.f229a8"],["740683f.3593d7c"]]},{"id":"5ea39653.f229a8","type":"function","z":"6579cf65.074ad","name":"Formatting payload when there's nothing or there's positive intentions","func":"\nmsg.payload = {\n  \"recommendation\": \"\",\n  \"entities\": []\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":560,"wires":[["1a1986e2.56b789"]]},{"id":"aa3ba027.a665c","type":"link in","z":"6579cf65.074ad","name":"","links":["472b31b3.0967","1a1986e2.56b789","351787ec.d51ef8"],"x":1455,"y":900,"wires":[["efa5d8c0.5fbac8","eec464e7.08ee48"]]},{"id":"1a1986e2.56b789","type":"link out","z":"6579cf65.074ad","name":"","links":["aa3ba027.a665c"],"x":1575,"y":660,"wires":[]},{"id":"89fac62e.c94598","type":"switch","z":"6579cf65.074ad","name":"","property":"features.entities[0]","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":660,"wires":[["5ea39653.f229a8"],["c372a79f.cd2bb8"]]},{"id":"ffef8c3e.ff5b5","type":"switch","z":"6579cf65.074ad","name":"","property":"features.entities","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":600,"wires":[["5ea39653.f229a8"],["89fac62e.c94598"]]}]